# ========================
# База данных SQLite
# ========================
*.sqlite
*.db

# ========================
# Python / кэш
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# Виртуальные окружения
# ========================
venv/
env/
.venv/

# ========================
# Конфиги IDE
# ========================
.vscode/
.idea/

# ========================
# Логи и прочее
# ========================
*.log